#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define RU 1
#define MOUSE 2
#define FUNCTION 3
#define NUMBER 4
#define GAME 5
#define RESET 6
#define SNIPE 7
#define DOTA_PT 8

// Левые основные кнопки (3 ряда по 6)

#define KEYS_L 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29

// Правые основные кнопки (3 ряда по 6)

#define KEYS_R 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35

// Большие пальцы (всего 5 позиций в раскладке 3x6)

#define THUMBS 36 37 38 39 40

&sk {
    release-after-ms = <600>;
    quick-release;
};

&sl { ignore-modifiers; };

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <500>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <100>;
};

&caps_word { /delete-property/ ignore-modifiers; };

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <225>;
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <250>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hml_s: hml_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <0>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hmr_s: hmr_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <0>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        smart_shift: smart_shift {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT>, <&caps_word>;

            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        lan_switch_ru: lan_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F13 &to RU>;
            label = "LAN_SWITCH";
        };

        len_switch_en: len_switch_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F13 &to BASE>;
            label = "LEN_SWITCH_EN";
        };
    };

    combos {
        compatible = "zmk,combos";
        timeout-ms = <20>;
        require-prior-idle-ms = <250>;

        combo_reset_central {
            key-positions = <32 33>;
            bindings = <&bootloader>;
            require-prior-idle-ms = <2000>;
        };
    };

    chosen { zmk,physical-layout = &charybdis_6col_layout; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&kp ESCAPE  &kp Q                &kp W        &kp E           &kp R                &kp T        &kp Y             &kp U                &kp I         &kp O        &kp P                      &hml GRAVE DOUBLE_QUOTES
&kp TAB     &hml LEFT_CONTROL A  &hml LALT S  &hml LSHFT D    &hml LEFT_COMMAND F  &kp G        &kp H             &hml LEFT_COMMAND H  &hml RSHFT J  &hml RALT K  &hml LEFT_CONTROL L        &hml SEMICOLON COLON
&kp MINUS   &kp Z                &kp X        &kp C           &kp V                &kp B        &kp N             &kp M                &kp DOT       &kp COMMA    &hml QUESTION EXCLAMATION  &kp EQUAL
                                              &lan_switch_ru  &kp SPACE            &mo MOUSE    &lt NUMBER ENTER  &kp BSPC
            >;
        };

        ru {
            display-name = "Base";
            bindings = <
&kp RIGHT_BRACKET     &kp Q                &kp W        &kp E           &kp R                &kp T        &kp Y             &kp U                &kp I         &kp O        &kp P                      &kp LEFT_BRACKET
&kp NON_US_BACKSLASH  &hml LEFT_CONTROL A  &hml LALT S  &hml LSHFT D    &hml LEFT_COMMAND F  &kp G        &kp H             &hml LEFT_COMMAND H  &hml RSHFT J  &hml RALT K  &hml LEFT_CONTROL L        &hml SEMICOLON COLON
&kp MINUS             &kp Z                &kp X        &kp C           &kp V                &kp B        &kp N             &kp M                &kp DOT       &kp COMMA    &hml QUESTION EXCLAMATION  &kp EQUAL
                                                        &len_switch_en  &kp SPACE            &mo MOUSE    &lt NUMBER ENTER  &kp BSPC
            >;
        };

        Mouse {
            display-name = "Mouse";
            bindings = <
&bootloader  &trans     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans            &trans           &trans    &trans    &trans    &trans  &trans
&trans       &mo SNIPE  &mo FUNCTION  &mkp MB2      &mkp MB1      &kp LEFT_BRACE    &kp RIGHT_BRACE  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans       &trans     &trans        &trans        &trans        &trans            &trans           &trans    &trans    &trans    &trans  &trans
                                      &mkp MB1      &mkp MB2      &mo FUNCTION      &trans           &trans
            >;
        };

        Function {
            display-name = "Function";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
            >;
        };

        Num {
            display-name = "Number";
            bindings = <
&studio_unlock  &kp TILDE                    &kp N7        &kp N8          &kp N9                &kp N0                  &kp LG(LS(NUMBER_4))   &kp PG_UP           &kp UP              &kp PG_DN  &hml RIGHT_BRACKET LEFT_BRACKET  &kp SINGLE_QUOTE
&kp LESS_THAN   &hml LEFT_CONTROL AMPERSAND  &hml LALT N4  &hml LSHFT N5   &hml LEFT_COMMAND N6  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp LEFT            &kp DOWN            &kp RIGHT  &hml LEFT_CONTROL DOLLAR         &kp GREATER_THAN
&to GAME        &kp HASH                     &kp N1        &kp N2          &kp N3                &kp PIPE                &hml BACKSLASH SLASH   &hml ASTERISK PLUS  &hml PERCENT MINUS  &kp COMMA  &kp AT_SIGN                      &kp EQUAL
                                                           &hml DOT COLON  &kp N0                &kp SPACE               &trans                 &none
            >;
        };

        game {
            bindings = <
&kp TAB       &kp ESC    &kp Q  &kp W      &kp E      &kp R        &kp T      &kp NUMBER_6  &kp N7        &kp N8        &kp N9        &kp N0
&kp LEFT_ALT  &kp LSHFT  &kp A  &kp S      &kp D      &kp F        &kp G      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5
&to BASE      &kp LCTRL  &kp Z  &kp X      &kp C      &kp V        &kp B      &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
                                &mkp LCLK  &kp SPACE  &mkp RCLK    &mkp MCLK  &trans
            >;
        };

        Reset {
            display-name = "Reset";
            bindings = <
&trans  &none  &none  &none  &none  &none          &none        &none  &none  &none  &none  &trans
&trans  &none  &none  &none  &none  &none          &none        &none  &none  &none  &none  &trans
&trans  &none  &none  &none  &none  &none          &none        &none  &none  &none  &none  &trans
                      &none  &none  &bootloader    &bootloader  &none
            >;
        };

        Snipe {
            display-name = "Snipe";
            bindings = <
&trans  &trans  &trans  &trans    &trans    &trans      &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &mkp MB2  &mkp MB1  &trans      &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans  &trans  &trans  &trans    &trans    &trans      &trans  &trans    &trans    &trans    &trans  &trans
                        &mkp MB1  &mkp MB2  &mo BASE    &trans  &trans
            >;
        };
    };
};
