#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define MOUSE 1
#define FUNCTION 2
#define NUMBER 3
#define RESET 4
#define GAME 5

// Левые основные кнопки (3 ряда по 6)

#define KEYS_L 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29

// Правые основные кнопки (3 ряда по 6)

#define KEYS_R 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35

// Большие пальцы (всего 5 позиций в раскладке 3x6)

#define THUMBS 36 37 38 39 40

&sk {
    release-after-ms = <600>;
    quick-release;
};

&sl { ignore-modifiers; };

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <500>;
};

&lt {
    flavor = "tap-preferred";
    tapping-term-ms = <500>;
    quick-tap-ms = <175>;
};

&caps_word { /delete-property/ ignore-modifiers; };

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            require-prior-idle-ms = <125>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <250>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hml_s: hml_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            quick-tap-ms = <125>;
            require-prior-idle-ms = <0>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hmr_s: hmr_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <0>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        smart_shift: smart_shift {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT>, <&caps_word>;

            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";
        timeout-ms = <20>;
        require-prior-idle-ms = <250>;

        combo_reset_central {
            key-positions = <32 33>;
            bindings = <&bootloader>;
            require-prior-idle-ms = <2000>;
        };
    };

    chosen { zmk,physical-layout = &charybdis_6col_layout; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&kp F13    &kp Q                &kp W        &kp F         &kp P                &kp B        &kp J        &kp L                &kp U         &kp Y        &hml RIGHT_BRACE LEFT_BRACE  &hml GRAVE DOUBLE_QUOTES
&kp TAB    &hml LEFT_CONTROL A  &hml LALT R  &hml LSHFT S  &hml LEFT_COMMAND T  &kp G        &kp M        &hml LEFT_COMMAND N  &hml RSHFT E  &hml RALT I  &hml LEFT_CONTROL O          &hml SEMICOLON COLON
&kp MINUS  &kp Z                &kp X        &kp C         &kp D                &kp V        &kp K        &kp H                &kp DOT       &kp COMMA    &hml QUESTION EXCLAMATION    &kp EQUAL
                                             &kp ESC       &kp SPACE            &mo MOUSE    &lt 3 ENTER  &kp BSPC
            >;
        };

        Mouse {
            display-name = "Mouse";
            bindings = <
&bootloader  &trans            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans          &trans  &trans    &trans    &trans    &trans  &trans
&trans       &kp LEFT_CONTROL  &mo FUNCTION  &mkp MB2      &mkp MB1      &trans          &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans       &trans            &trans        &trans        &trans        &trans          &trans  &trans    &trans    &trans    &trans  &trans
                                             &mkp MB1      &mkp MB2      &mo FUNCTION    &trans  &trans
            >;
        };

        Function {
            display-name = "Function";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
            >;
        };

        Num {
            display-name = "Number";
            bindings = <
&studio_unlock  &none                        &kp N7        &kp N8          &kp N9                &kp N0                  &kp LG(LS(NUMBER_4))   &kp PG_UP           &kp UP              &kp PG_DN  &kp TILDE                 &kp SINGLE_QUOTE
&kp LESS_THAN   &hml LEFT_CONTROL AMPERSAND  &hml LALT N4  &hml LSHFT N5   &hml LEFT_COMMAND N6  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp LEFT            &kp DOWN            &kp RIGHT  &hml LEFT_CONTROL DOLLAR  &kp GREATER_THAN
&to 5           &none                        &kp N1        &kp N2          &kp N3                &kp PIPE                &hml BACKSLASH SLASH   &hml ASTERISK PLUS  &hml PERCENT MINUS  &kp COMMA  &none                     &kp EQUAL
                                                           &hml DOT COLON  &kp N0                &kp SPACE               &trans                 &none
            >;
        };

        Reset {
            display-name = "Reset";
            bindings = <
&trans  &none  &none  &none  &none  &none          &none        &none  &none  &none  &none  &trans
&trans  &none  &none  &none  &none  &none          &none        &none  &none  &none  &none  &trans
&trans  &none  &none  &none  &none  &none          &none        &none  &none  &none  &none  &trans
                      &none  &none  &bootloader    &bootloader  &none
            >;
        };

        dota {
            bindings = <
&kp N5     &kp N4  &kp N3  &kp N2    &kp N1    &kp Y     &kp M   &kp F10   &kp UP    &kp F11    &kp V   &to 0
&kp LSHFT  &kp S   &kp Q   &kp W     &kp E     &kp R     &kp G   &kp LEFT  &kp DOWN  &kp RIGHT  &kp F1  &kp F9
&kp LALT   &kp A   &kp H   &kp D     &kp F     &kp T     &kp F2  &kp F3    &kp F4    &kp F5     &kp F6  &kp F7
                           &mkp MB1  &mkp MB2  &kp N6    &kp N8  &kp N7
            >;
        };
    };
};
